[2014-08-15 17:54] edavis opened #2 "Fix double-escaping issues"
In `<description>`, `&amp;` (and friends) are getting turned into `&amp;amp` and everything looks all screwy.

If Algolia is escaping stuff properly, should be able to mark it as safe and everything should just work.

[2014-08-24 21:12] edavis opened #3 "On /newcomments, the thread title sometimes comes back "None""

[2015-02-19 05:29] KurtPreston opened #4 "Link to comments in article description?"
Love this service!  Until recently, I was using [this](http://ashleyw.co.uk/project/hacker-news-feeds) for HN RSS.  One thing I liked about those feeds was that the description just contained a link to the comment feed.  This worked well with my RSS reader: I could read the article from the link, view the comments from the description.

Would it be possible to add a flag to HNRSS allowing the desc

[2015-02-19 19:30] edavis commented on #4
Hi Kurt — Yeah, this should be doable. Glad you're finding hnrss useful!

I've been meaning to make a few other updates, so I'll tackle this along with them.

[2015-02-21 23:41] #2 closed

[2015-02-21 23:44] edavis commented on #4
Hi Kurt — I just pushed this live. Thanks again for the suggestion.

[2015-02-21 23:44] #4 closed

[2015-02-23 00:00] KurtPreston commented on #4
This works great!  Thanks a bunch!

[2015-04-10 21:57] Zweihander42 opened #5 "Possible GUID isPermalink=false option?"
Hey, thanks for this service!
Some feed readers which will opt to use the GUID of an item as the item's link (even if there is a link specified). I believe this is because the RSS 2.0 spec says that the isPermalink attribute of GUID is true by default (and overrides link even if it's specified - though that's a debated area from the few searches I've done).

The feed reader in question is Thunderb

[2015-04-10 23:38] edavis commented on #5
Interesting. The NYT produces a bad feed nine years ago and we're still living with the consequences :)

So right now Thunderbird and Feedly use the URL in `<guid>` instead the URL in `<link>`? And you'd like for an option to enable `isPermalink=false` on `<guid>` so they use `<link>` instead?

Out of curiosity, how does `?link=comments` fix it? That just just makes the values of `<link>` and `<gu

[2015-04-11 00:21] Zweihander42 commented on #5
Yup, that's exactly right. They're ignoring the `<link>` as they're assuming `<guid>` is set to true - if you add `isPermalink=false` to `<guid>`, they should use the `<link>` instead.

You can see it in action on Thunderbird--

Using news.ycombinator.com/rss (which doesn't have a guid):
![image](https://cloud.githubusercontent.com/assets/1928813/7099265/d2685a38-dfbc-11e4-9598-07c14458516e.png)

[2015-04-23 15:20] edavis commented on #5
Hey @Zweihander42 — Haven't forgot about ya! Just haven't had the time to dig into this yet.

Great examples, too. Very helpful. I hope to spend some time on this soon.

Thanks again.

[2015-06-03 17:04] edavis commented on #5
@Zweihander42 — Not exactly the quickest turnaround, but this is now live :)

I went with setting `isPermaLink="false"` unconditionally because I think it just makes more sense than making it optional.

If RSS feeds hosted on Wordpress.com set that attribute unconditionally, we're probably in the clear. I'm sure they thoroughly researched the pros/cons and decided it was worth it.

Let me know if

[2015-06-04 20:12] Zweihander42 commented on #5
@edavis -- Works as expected!

Thunderbird and Feedly both look good:
![image](https://cloud.githubusercontent.com/assets/1928813/7993413/03978452-0ad4-11e5-8471-295c64fb8435.png)

and with title hovered over:
![image](https://cloud.githubusercontent.com/assets/1928813/7993499/7823ca7e-0ad4-11e5-9763-8b2fd36b1689.png)

Thanks so much, appreciate it!

[2015-06-08 04:26] edavis commented on #5
Happy to help!

[2015-06-08 04:26] #5 closed

[2015-07-07 11:49] onur opened #6 "Obsolete date format"
hnrss is using obsolete time zone syntax. GMT is defined obsolete in rfc2822. So this format: `Tue, 07 Jul 2015 11:37:52 GMT` is obsolete and some parsers (such as `strptime(3)` in libc) failing to parse this format.

Please use `+0000` instead of `GMT` in `rss.py:77`

[2016-01-22 08:22] outsinre opened #7 "how to get feed url?"
this is a python app, how do I get Hacker news feed url?

[2016-03-25 15:04] edavis opened #8 "Let number of returned results be configurable"
Something like http://hnrss.org/newest?count=50.

Maybe cap at 100 or so to prevent overloading the Algolia server.

[2016-04-02 18:41] edavis commented on #6
I've updated the timezone string to return "+0000" instead of "GMT."

Thanks!

[2016-04-02 18:41] #6 closed

[2016-04-02 18:42] edavis commented on #7
The URLs can be found here: https://edavis.github.io/hnrss/

[2016-04-02 18:42] #7 closed

[2016-04-02 18:43] edavis commented on #8
Closed with 0cd7c9c.

[2016-04-02 18:43] #8 closed

[2016-09-29 18:22] edavis opened #10 "Add HTTPS support"
Let's Encrypt should work just fine for this

[2016-10-31 16:41] emmceemoore opened #11 "RSS feed does not validate"
I've been using your feed via Slack for the last few months and it was working great until recently. Lately, new articles show up only occasionally and there are many articles which show up in the RSS feed but which don't make it into Slack.

I reached out to Slack Support to see what was up. They're not sure as to the exact reason for the issues I'm seeing but they did point out that [the feed do

[2016-11-01 23:25] edavis commented on #11
Hmm, weird. Do you have a rough idea of when things started getting wonky?

FWIW, there hasn't been any changes recently on the `author` or `atom:link` elements. If it worked before, shouldn't be a problem now.

[2016-11-02 15:25] emmceemoore commented on #11
I originally reached out to Slack Support on 10/25. IIRC, the issue started happening a few days before that.

I agree that it should be working and I believe this is a Slack issue. The feed is not valid but the validation errors do seem silly to me.

Anywho, feel free to close this issue if you're not interested in making the feed validate.

Thanks for the response!

[2016-11-02 15:49] edavis commented on #11
Gotcha, thanks. I was mostly curious as the last major change I made to the code had to do with adding caching-related HTTP headers but that was back in mid-September. Thought maybe those headers were messing with something on Slack's side, but that looks doubtful.

I'm going to add `http://hnrss.org/newest?points=50` to my own Slack channel and see if I notice anything strange. I'll also leave th

[2016-11-10 16:03] edavis commented on #11
Quick update: There's definitely something to this. I've been subscribed to `?points=50` within my Slack for about a week now and only once received any updates from the feed in that time.

Still not sure what's happening or why, though.

[2016-11-10 18:33] emmceemoore commented on #11
Good to hear that I'm not the only one. 😉  For the HN feed, we've started using the RSS Fox plugin for Slack and we haven't missed any updates. Hopefully Slack can figure things out and get their RSS plugin working as it was before.

[2017-02-25 15:14] vsund opened #12 "Is it possible to search for at least one keyword?"
I wonder whether it's possible to search for `foo` or `bar` and not how it's default for `foo` and `bar`.

Of course it's possible to use two feeds and let the feed reader filter out, but it would be cooler to have this directly in the feed :)

[2017-03-19 18:46] edavis commented on #12
Hey @vsund — This should be good to go. `?q=Term1 OR Term2` would work as expected now.

For example: http://hnrss.org/newest?q=WordPress+OR+Django (titles contain either WordPress or Django).

Let me know if this is working for you. Thanks!

[2017-03-21 00:01] edavis commented on #10
HTTPS up and running via Lets Encrypt.

HTTPS handled by Hitch. Redirects handled by Varnish.

Refs: <https://fnord.no/2015/11/12/letsencrypt/>

[2017-03-21 09:28] fturco commented on #10
When I go to https://hnrss.org/newest with Firefox 51.0.1 the browser says "hnrss.org: connection is not secure" and "connection not encrypted. the website hnrss.org does not support encryption for the page you are viewing. information sent over the internet without encryption can be seen by other people while it is in transit." The URL https://edavis.github.io/hnrss/ works fine instead.

[2017-03-21 15:06] edavis commented on #10
Hi @fturco — Thanks for the report. I'll take a look. Few questions:

Does https://hnrss.org/newest work on other browsers?

Does the page totally fail to load or does it load but just with that error message? Because I do see this on Firefox 52.0.1 (macOS 10.12.3) but the XML still successfully loads:

![screen shot 2017-03-21 at 8 04 06 am](https://cloud.githubusercontent.com/assets/622509/24153

[2017-03-21 15:21] fturco commented on #10
I can successfully open https://hnrss.org/newest with GNOME Web, without any error messages.
In Firefox the XML page load successfully, just like in your screenshot.
My GNU/Linux distribution is Gentoo Linux.
I have a personal website which supports HTTPS via Let's Encrypt and I also have the same problem with its Atom feed: https://shaarli.fturco.net/?do=atom
I'm going to send you my IP address i

[2017-03-21 16:00] edavis commented on #10
Thanks. I don't see your IP address in the logs, so whatever is happening isn't registering as a proper SSL error (which makes sense if the XML ultimately does load).

I see the same message as you on https://shaarli.fturco.net/?do=atom with Firefox.

Interestingly, your main site (https://shaarli.fturco.net/) and a static file I just put up (https://hnrss.org/.well-known/acme-challenge/test.txt)

[2017-03-21 16:12] fturco commented on #10
It seems to be a bug with Firefox. See https://bugzilla.mozilla.org/show_bug.cgi?id=1172234

[2017-03-21 16:21] edavis commented on #10
Yeah, that's got to be it. Especially since other browsers handle the feeds fine.

I'm going to close the issue for now. Feel free to re-open if you run into any other problems.

Thanks!

[2017-03-31 22:32] emmceemoore commented on #11
The RSS Fox plugin seems to have stopped working for us now as well. I reached out to Slack support again and I got the same "[feed doesn't validate response](https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fhnrss.org%2Fnewest%3Fpoints%3D50)".

I am curious why the `<author>` element is populated in your RSS feed when it's not present in the [Hacker News feed](https://news.ycombinator.com/

[2017-04-01 18:27] edavis commented on #11
Thanks, @emmceemoore.

Just a heads up that I enabled HTTPS for all feeds about a week ago (#10). All HTTP URLs should redirect properly, but try using a HTTPS URL directly if you haven't already made the change.

I think I'm going to work on the code to make it pass that validator.w3.org check. Who knows, that'll be enough.

[2017-04-01 20:07] edavis commented on #11
Hey @emmceemoore — I've updated the RSS feed to pass the validation test: https://validator.w3.org/feed/check.cgi?url=https%3A//hnrss.org/newest%3Fpoints%3D50

Hopefully this at least gets Slack to take a closer look.

[2017-04-03 15:38] emmceemoore commented on #11
I've re-added the `hnrss` URL to Slack and it seems to be working fine now (new articles come through on a semi-regular basis). Thanks! 🎉

[2017-04-05 19:26] edavis commented on #11
@emmceemoore Very cool! Yeah, looks good on my end now, too.

Interestingly, I don't actually think fixing the validation errors was what ultimately did the trick. But I'm not positive about that, either.

Right after I pushed the validation fixes up, I started mucking around with my Varnish settings and, on a whim, I started dropping the `If-Modified-Since` HTTP header if the User-Agent contains

[2017-04-05 19:26] #11 closed

[2017-04-05 19:38] edavis commented on #10
An email from Tom Hacohen on April 3:

Adding/reopening here to increase visibility.

I did change something around April 1. I was using Hitch for SSL termination (so Hitch:443 -> Varnish:6086,PROXY -> NGINX:8080 -> uWSGI) but I wanted to consolidate my stack so I changed it to use NGINX for SSL termination (so NGINX:443 -> Varnish:6081,HTTP -> NGINX:8080 -> uWSGI).

Not sure how to fix at this po

[2017-04-06 10:58] vsund commented on #12
Sorry, forgot to answer here :)

This works for some keyword pairs but though I found something confusing: https://hnrss.org/newest?q=git+OR+linux gives me results that don't contain a keyword. If I'm right, it should look only at the title by default. How does these results come in?

[2017-04-06 14:54] edavis commented on #12
Hey @vsund — Interesting. Can reproduce. Good catch.

Looks like I might have to work on surrounding each term with quotes, as doing that manually seems to work as expected: https://hnrss.org/newest?q=%22git%22%20OR%20%22linux%22

Algolia (the results provider) probably uses a different search mode when query terms are surrounded by quotes vs. when they're not. Without the quotes, I do see a handf

[2017-04-08 17:56] edavis opened #14 "Feature Request: hnrss.org/classic"
@pageman on [Twitter](https://twitter.com/pageman/status/845479982017081350):

Doesn't look like either Algolia or the Firebase API have this, so we're limited. But would be a pretty neat addition.

[2017-04-09 07:23] iamkarlson opened #15 "Link preview"
Is it possible to add link preview like below

![image](https://cloud.githubusercontent.com/assets/4534374/24835575/f21ed228-1d16-11e7-9660-22e08775c0f9.png)

[2017-04-22 01:10] QuinnyPig commented on #12
As a followup, adding multiple quoted terms to the keyword section breaks the RSS validation scheme; apparently the backslash in `</atom>` breaks the standard?

[2017-04-22 17:06] edavis commented on #12
@QuinnyPig Good catch. Should be fixable with some URL quoting. I'll dig into this today.

[2017-04-22 18:29] edavis commented on #12
@vsund @QuinnyPig Search feeds with multiple terms should be handled better now: https://hnrss.org/newest?q=git%20OR%20linux

- No longer need to quote each term, the app will do the right thing and return relevant results. That said, any queries that do contain quotes (e.g., `q="git" OR "linux"`) are still handled; they're just passed through unchanged.

- The `atom:link` element is properly esca

[2017-04-22 18:29] #12 closed

[2017-05-01 00:42] edavis opened #16 "Is /frontpage broken?"
Items go back to 2015. Something doesn't seem right.

[2017-05-26 17:30] vsund opened #17 ""Ask HN" has no entry stats"
Is it intentional that the entries for "Ask HN" have no stats like upvotes, comments and so on?
I don't know whether other categories have stats or not, just curious whether there's a reason for this :)

[2017-06-14 03:24] narfman0 opened #18 "Filters"
Filters would be brilliant - maybe regexs to filter content?

E.g. having 6 out of 7 uber articles for the last few weeks hurts my soul - I would frankly be happy to remove all .*uber.* articles, and plenty other "hacker" news.

Project looks rad thanks bunches!

[2017-06-14 04:00] edavis commented on #18
Using `q=KEYWORD` (see "Search Feeds" on https://edavis.github.io/hnrss/) can get you a feed of just topics you're interested in, but it sounds more like you're looking for "mute" functionality to exclude certain keywords instead. Is that right?

I'll check into it. If it's only a few lines of code, might be worth adding.

[2017-07-08 04:53] edavis commented on #17
Hey @vsund — No conscious decision. Code just kind of evolved that way :)

If a "story_text" attribute is present in the search results, it has always been used verbatim for the `<description>` RSS element. If not, it got the upvotes, comments, etc. treatment.

I do suppose it makes some sense to unify this handling. I'll keep it on my radar.

[2017-07-08 04:56] edavis commented on #16
Probably just a hiccup. Occasionally I'll see ancient items pop up, but seems transitory. Can't consistently reproduce.

Anyway, seems to be working fine now.

[2017-07-08 04:56] #16 closed

[2017-08-12 22:44] srissel opened #19 "Make hnrss available for external access?"
Hello,

Thanks for your implementation, it really looks great!
I know this is more a general Linux/Apache question, but since I'm not that deep into Linux, I dare to ask....

I have setup hnrss on my Linux web server, it's running but only with internal access via 127.0.0.1.
I'd like to make the service available for external access, to integrate it into 3rd party news aggregators like Flipboard.

[2017-08-13 05:06] edavis commented on #19
Hi Sascha — I'd recommend you buy a cheap VPS plan from a provider like DigitalOcean, Rackspace, Linode, etc. and host your local copy of hnrss there. With enough time and energy you _might_ be able to host it on your local machine in a way that external services can find it, but it'll be a real hassle to get there.

Running it on a VPS won't be much different than how you're running it now, it'll

[2017-08-13 05:06] #19 closed

[2017-08-13 07:04] srissel commented on #19
Thanks for your answer,

I've already a VPS running, with apache and some other services working fine.

I am just wondering, which is the best way to get your python implementation running.
I found sites, describing how to integrate python executed as CGI scripts into apache. I think this would allow your scripts to be run by external requests.

But on the other hand: Your implementation is launch

[2017-08-13 17:35] edavis commented on #19
Ah, okay. I thought you had it running on your local machine and were trying to enable external access. Being on a VPS already should make this easier.

That server that launches on 127.0.0.1:5000 is only meant for local development. It's not the recommended way to deploy an app like this.

I'd suggest looking into http://gunicorn.org/. You'll run a command like `gunicorn hnrss:app` which'll load

[2017-08-15 20:16] srissel commented on #19
Many thanks this great explanation, it sounds really promising! I'll have a try with it,

[2017-08-15 22:04] srissel commented on #19
Again, many thanks!
During the last about 90 minutes I was able to install Gunicorn, configure apache to pass request to your Python application "hnrss" and habe it run automatically on boot.

Finally a nice way to integrate Hacker News into News Aggregetors (in my case Flipboard mobile app).
Perfect!

[2017-08-16 21:49] edavis commented on #19
Awesome! Glad to hear everything worked out.

[2017-09-20 16:23] talklittle opened #20 "Should escape &lt; within code blocks"
https://news.ycombinator.com/item?id=15293578

The first code block is:

[code]

But renders as:

<img width="328" alt="screen shot 2017-09-20 at 9 21 35 am" src="https://user-images.githubusercontent.com/87961/30655269-465f58ea-9de5-11e7-9c39-52b5ab248902.png">

[2017-09-20 16:26] talklittle commented on #20
Whoops, problem with my newsreader, not hnrss. Sorry!

[2017-10-25 03:40] alphapapa commented on #14
Did something change?  Because `/classic` looks no different than `/` to me.

[2017-10-25 14:41] edavis commented on #14
@alphapapa Not sure I follow... `/classic` has never been available in hnrss.

[2017-10-25 19:01] alphapapa commented on #14
I mean, http://news.ycombinator.com/classic looks no different than http://news.ycombinator.com/

[2017-12-02 19:39] jaredandrews opened #21 "Feeds for "who is hiring" and "seeking freelancer" threads?"
Hi,

Great work on this project. I am curious if you have any plans to add a feed for these threads: [who is hiring](https://news.ycombinator.com/item?id=15824597) and [seeking freelancer](https://news.ycombinator.com/item?id=15824598)? I would personally find this very useful.

I was just looking over the code for this app and I'm pretty sure I could implement it myself. I just wanted to make sur

[2017-12-03 00:34] edavis opened #22 "Add points directly to feed title"
Suggestion via email:

[code]

[2017-12-03 01:01] edavis commented on #21
Hi Jared — Have you tried the search feature? It might already have what you need:

- https://hnrss.org/newest?q=Ask%20HN:%20Who%20is%20hiring%3F&search_attrs=title
- https://hnrss.org/newest?q=Ask%20HN:%20Freelancer%3F&search_attrs=title

I also recently added https://hnrss.org/jobs which mirrors https://news.ycombinator.com/jobs, if you're interested in that sort of thing.

But to answer your la

[2017-12-04 18:16] jaredandrews commented on #21
@edavis Hey! Thanks for the fast reply!

I started writing a response to this and then I needed to dig into the code to make sure I knew what I was talking about and then I ended out writing some code :O

I have made a Pull Request: https://github.com/edavis/hnrss/issues/21#issuecomment-348732185 that provides additional context and an implementation of what I am trying to do. Check it out when yo

[2018-01-13 20:05] edavis commented on #21
Gonna close this and use #23 to track from here on out

[2018-01-13 20:05] #21 closed

[2018-04-10 10:11] chmaynard commented on #18
There are a number of domains that I would like to filter out as I read HN. If I were to create such a list in a known location on my local machine or on your server, could HNRSS be modified to filter out all posts from the domains in this list?

[2018-04-21 03:42] edavis commented on #10
Ran hnrss.org through ssllabs.com again and looks like only Android 2.3.7, IE8/XP, Java 6u45, and Java 7u25 still have issues.

If this move to HTTPS broke something for you, feel free to chime in with changes. I won't introduce massive changes to support some ancient platforms, but if it's a small/safe tweak I'd be happy to look into it.

[2018-04-21 03:42] #10 closed

[2018-04-21 04:24] edavis commented on #18
Hey guys — You might want to check out http://hnapp.com/. It looks like it has better filtering options than hnrss.

@chmaynard Appears you could do something like `-host:abc.com -host:xyz.com` to accomplish this in hnapp. This would have to be duplicated in each feed which isn't ideal... but may not be much of an issue depending on how many feeds you have.

I may still add filtering functionality

[2018-04-21 04:26] edavis commented on #14
Putting this on ice until Algolia and/or Firebase provide a way to grab /classic data

[2018-04-21 04:29] edavis commented on #15
If someone can implement this, I'll take a look at the PR.

I'm not opposed in theory, I just can't think of a way of doing this that won't add a ton of complexity :(

[2018-05-10 01:38] danielcompton opened #24 "Add a context link for viewing a comment in it's threaded context?"
What do you think about the idea of adding a context link to comment items?

https://github.com/edavis/hnrss/blob/849d3f5f7323e0b9f390921e6b1c8c2790cd9341/rss.py#L67-L71

The idea is that when viewing someone's comment, you often need to go up two or three levels of parent before you can actually see what is going on. Concretely, there would be a link (or maybe the default?) which would take you t

[2018-10-31 00:45] telotortium opened #37 "Support /bestcomments"

[2018-11-07 13:47] sabertazimi opened #25 "Feature Request: Top/Best hacker news feed"
Need RSS feed for https://news.ycombinator.com/best

[2019-10-27 22:02] timvisee opened #26 "Add feed for comments on thread by user"
I would like to have a feed for comments made in a thread of a specific user.

The replies feed lists comments on comments by a user, but not comments on a thread by a user.

Maybe the replies feed can be improved to include these as well?

[2020-01-06 13:19] Maryse47 opened #27 "Feature Request: Top/Best hacker news feed"
This is request for rss feed for https://news.ycombinator.com/best

It's the same request as https://github.com/edavis/hnrss/issues/25 which was closed by its author for an unknown reason.

[2020-07-09 19:09] edavis opened #28 "Feed for C++ related"
One of the feeds I created is for C++, but this gives me the result for "C " which will include C. "C++" and C++ both gave me "C ".

https://news.ycombinator.com/item?id=23779297

[2020-07-09 19:10] edavis commented on #28
https://news.ycombinator.com/item?id=23779579

[2020-07-10 15:44] edavis opened #29 "Look into feed "recommendation" by validator"
<img width="1917" alt="Screen Shot 2020-07-10 at 8 42 20 AM" src="https://user-images.githubusercontent.com/622509/87172660-6b04b480-c289-11ea-8e80-0680278af642.png">

Refs: <https://news.ycombinator.com/item?id=23779892>

[2020-07-11 00:51] seekr opened #30 "feed to user´s favorites?"
Hi, I was wondering if there's a undocumented way to get a feed for a given user's list of favorite posts.

[2020-09-28 13:29] waqasrana opened #31 "Front page rss is not updating anymore"
https://hnrss.org/frontpage

the last story u see is of September 19, 2020, 1:57 PM

[2020-10-25 20:57] somini opened #35 "Include the parent comment content on replies"
If you subscribe to replies to your own posts, the replies are devoid of context, so it's usually several clicks to get to the post referenced by your reply.

This can also be solved with a direct link to the parent post in the content, just what is done now for the frontpage, for example.

[2020-10-25 20:57] lindner opened #36 "Support Atom threaded comments spec"
[RFC 4685](https://tools.ietf.org/html/rfc4685) provides a way to represent threaded comments in an Atom Feed.

Potential use-cases:
- Republishing comments using Microformat [in-reply-to](https://indieweb.org/in-reply-to).
- Supporting W3C [WebMention]{https://www.w3.org/TR/webmention/) spec.

For me I'd like to export my own comments and republish them to my [Known](https://getknown.com) instanc

[2020-10-26 02:26] edavis commented on #31
Thanks for the report @waqasrana. Looks like this has resolved itself but feel free to open another issue if it happens again.

[2020-10-26 02:26] #31 closed

[2020-10-26 02:35] edavis commented on #17
This got fixed in the Go rewrite, so shouldn't be an issue anymore. Thanks again for the report!

[2020-10-26 02:35] #17 closed

[2020-10-26 02:37] edavis commented on #15
Never came up with a way of doing this in a clean, succinct way.

[2020-10-26 02:37] #15 closed

[2020-10-26 02:38] edavis commented on #22
After further thought, I think this would clutter the title too much. Closing.

[2020-10-26 02:38] #22 closed

[2020-10-26 02:44] edavis commented on #20
Hey @talklittle — Good catch. This should have stopped being an issue around September 2018 with the rewrite in Go. The `<description>` is CDATA now which should take care of issues like this.

Everything looks good to me when I pull this post up in News Explorer:

<img width="838" alt="Screen Shot 2020-10-25 at 7 41 38 PM" src="https://user-images.githubusercontent.com/622509/97128752-62ca6b00-16

[2020-10-26 02:44] #20 closed

[2020-10-26 02:46] edavis commented on #29
Not immediately obvious what the fix would be and nobody has ever complained about their reader being broken without it... closing.

[2020-10-26 02:46] #29 closed

[2020-10-26 02:52] edavis commented on #18
Closing this as I'd like hnrss to just stay a slim wrapper on top of the Algolia HN API. I just don't think getting into this territory is a good fit.

Hopefully hnapp.com or some other service did the trick!

[2020-10-26 02:52] #18 closed

[2020-10-26 03:00] edavis commented on #28
Percent-encoding was the right answer. Also updated the docs to mention it.

[2020-10-26 03:00] #28 closed

[2020-10-26 03:18] edavis commented on #26
Love this idea. Best of all, very doable via the Algolia HN API.

I can't promise an ETA but definitely on my todo list next time I'm hacking around on the code.

In case any intrepid developers are reading this and want to take a stab at building this, here's the Algolia query to use for this: https://hn.algolia.com/api/v1/search_by_date?tags=author_edavis,story_23778510,comment

[2020-10-26 15:49] edavis opened #38 "Update "/" redirect"
Right now hnrss.org/ redirects to the old docs site at https://edavis.github.io/hnrss/.

Update it so hnrss.org/ redirects to the new docs site at https://hnrss.github.io/.

(right now edavis.github.io/hnrss/ does a `<meta>` redirect to hnrss.github.io so it "works" but is clunky.)

[2020-10-27 23:09] somini commented on #29
https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fhnrss.org%2Fnewest

This is valid now, no longer applies anyway.

[2020-11-01 04:47] edavis opened #39 "Add license"
After reading through the [Octotree hubbub](https://news.ycombinator.com/item?id=24953821), I should probably figure out the licensing situation for hnrss...

To anybody reading this: Any easy to follow guides out there on how to license the code behind something like hnrss.org?

[2020-11-01 05:04] edavis commented on #38
Fixed in bb9396b6f908d034d022e72e745d2fd2a98730fb

[2020-11-01 05:04] #38 closed

[2020-11-01 05:05] edavis opened #40 "Fixup and update README.md"

[2020-11-09 05:13] edavis commented on #30
Hello!

Yes, user favorites are now available within hnrss. Here are the docs: https://hnrss.github.io/#favorite-feeds

Let me know if you have any questions!

[2020-11-09 05:13] #30 closed

[2020-11-09 23:15] telotortium opened #41 "User feed shows many titles as just """
For the past few days I'm seeing many entries in the users feed show the title of the Hacker News story in the item title as just `""`. For example, in the feed `https://hnrss.org/user?id=kibwen`, the feed now contains an entry like this:

[code]

[2020-11-12 04:12] edavis commented on #41
@telotortium Thanks for the report! Sorry you ran into this.

As of right now the feed appears back to normal. Sometimes there's a hitch with Algolia and some data goes (temporarily) missing. But the ship usually gets back on course soon enough.

I'm going to close this for now but if it keeps happening I'll open this back up and see if there's anything hnrss can do to alleviate the issue.

[2020-11-12 04:12] #41 closed

[2020-11-12 04:19] edavis commented on #3
This was fixed in the Python version but might still be an issue in the Go version (see #41)

[2020-11-12 04:20] edavis commented on #25
Closing again. Forgot #27 is already tracking this.

[2020-11-12 04:20] #25 closed

[2020-11-12 05:14] edavis opened #42 "Add feeds for everything"
To the extent possible, every endpoint here (https://github.com/minimaxir/hacker-news-undocumented#all-public-urls-with-user-generated-content) should have a matching endpoint on hnrss.

[2020-11-12 05:17] edavis commented on #37
Hello @telotortium!

A feed for /bestcomments is now available: https://hnrss.org/bestcomments

This is such a neat endpoint. I really like how this came out. Thanks a ton for the suggestion.

I'm going to let this burn in for a few days and if all looks good I'll update the hnrss.github.io docs officially announcing it.

[2020-11-12 05:17] #37 closed

[2020-11-12 05:34] edavis commented on #14
cc @alphapapa @Glowin

hnrss now supports /classic: https://hnrss.org/classic

[2020-11-12 05:34] #14 closed

[2020-11-12 06:32] alphapapa commented on #14
@edavis Cool, but I still don't know what exactly https://news.ycombinator.com/classic is, because it looks the same as https://news.ycombinator.com/news to me.  What's the difference?  :)

[2020-11-12 06:53] telotortium commented on #37
Thanks a lot @edavis! I'm testing it out now

[2020-11-12 16:32] edavis commented on #14
@alphapapa Classic only counts votes from "early users" (accounts created before Feb 13, 2008) while News counts votes from all accounts.

Refs: https://github.com/minimaxir/hacker-news-undocumented#hacker-news-classic

[2020-11-15 23:08] edavis commented on #27
Hello @Maryse47!

There is now a feed for Best on hnrss: https://hnrss.org/best

Thanks for the suggestion!

[2020-11-15 23:08] #27 closed

[2020-11-15 23:11] edavis commented on #42
With 66030263821935537c45e627b96f2b42f26d7181, I think we're good.

[2020-11-15 23:11] #42 closed

[2020-11-16 00:04] edavis commented on #26
Hey @timvisee!

This is ready on hnrss.org. I ended up modifying the "thread feed" by allowing an optional `author` parameter:

https://hnrss.org/item?id=23778510&author=edavis

Without `author` it just lists all the comments in the thread but by attaching `author` it'll filter to comments written by a particular user.

Let me know if anything doesn't look right to you. Thanks again for the sugges

[2020-11-16 00:04] #26 closed

[2020-11-16 15:55] dwemerx commented on #39
Hey! Your question seems too broad. What do you want to achieve? Do you want others to re-use your code? Do you care if they are going to use in a proprietary software?

[2020-11-17 15:51] NicolasLM opened #43 "JSON Feed author(s) field should be an object, not a string"
The JSON Feed [specification](https://jsonfeed.org/version/1.1) mentions that the `author` (v1.0) and `authors` (v1.1) fields should contain objects, for instance:

[code]

The feed produced by hnrss.org uses `author` as a string:
[code]

[2020-11-18 17:03] dwemerx commented on #39
Hey! I'd like to help, but I don't understand your question. What do you want to achieve? Do you want others to re-use your code? Do you care if they are going to use in a proprietary software?

Generally, if your code doesn't use any code with a restrictive license like GPL, EPL, or some proprietary license, you are free to license your code however you want. If you don't, then anyone who wants t

[2020-11-18 17:52] edavis commented on #39
Hi @dwemerx! Thanks for jumping in on this.

I guess to rephrase... licensing is something I've always punted on because most of my Github projects are just fun hacks and legalese isn't as fun as hacking around. But hnrss.org is somewhat popular so I figured it was time to think about this sort of stuff. I didn't have any particular license, license type, or goal in mind. Just tossed this Issue up

[2020-11-19 09:26] dwemerx commented on #39
Got it!

A thing about BSD-licensed libraries - to comply with the license, in most cases (if not always) you must put a copyright notice somewhere. I believe in this case it will be enough to just create a section called "Libraries" in the README file and specify the used libraries and what their licenses are there.

As the code owner, you are free to license your code in any way. You can even do

[2020-11-21 21:39] edavis opened #44 "Write up how to deploy hnrss to a personal server"

[2020-11-23 13:21] dwemerx commented on #44
Have you considered publishing the project on Docker Hub? Users will be able to quickly get the app running with docker, podman, containerd and others. I can make a quick pull request and you will only need to turn on automated image building on https://hub.docker.com.

[2020-11-29 17:18] dwemerx commented on #39
Hi,

Any updates? I'd like to host an instance of your amazing project (with proper credentials and not making any money out of it), but I can't do that until there is a permissive license or you write that you are fine with it.

[2020-11-30 18:05] edavis commented on #39
Howdy @dwemerx. Sorry to leave you hanging! I missed your reply on Nov 19.

By chance do you have any examples of this? I looked at some BSD-3-Clause licensed projects on Github written in Go but I'm not seeing anything like this. Or maybe they're not using any BSD-3-Clause licensed libraries?

Thank you for the kind words!

I'll _probably_ end up with BSD-3-Clause but one final question (I think)

[2020-12-03 14:16] dwemerx commented on #39
Sorry for the delay! I wanted to reply the next day, but had too many things moving around and forgot. And I am happy to help, your project is something I use daily :)

In VLC (their Android app), there is a list of used libraries (some of which licensed under BSD and Apache). DAVx5, Tasks.org and many other Android apps also have similar lists in their about section. All big browsers (Firefox, Ch

[2020-12-06 19:17] somini opened #45 "Create a feed to follow comments to some user's submissions"
The `/replies` feed only considers replies to my comments, but what about comments on my submissions?

[2020-12-06 19:18] somini commented on #44
See also: https://aur.archlinux.org/packages/go-hnrss/

[2020-12-06 19:44] madnight opened #46 "Create a feed to follow site specific submissions"
For example I would like to follow:
https://news.ycombinator.com/from?site=lwn.net
and some other sites.

[2020-12-08 01:25] edavis commented on #39
Hey @dwemerx — You can go ahead and host that instance of hnrss you mentioned earlier. Permission granted or whatever the magic words are :)

Going with BSD-3-Clause for this project is still the plan but I'd still like to do some more research to better grok the whole source/binary distinction before I commit to it.

Many, many thanks for your detailed write-ups throughout this issue thread!

[2020-12-18 12:50] harabat opened #47 "Add option to exclude keywords from search"
Algolia allows to exclude keywords from search with the "-" sign ("_firefox -mozilla_").

HNRSS being a wrapper for Algolia, it should allow the same, but https://hnrss.org/newest?q=firefox-mozilla returns results for "_firefox AND mozilla_" while https://hnrss.org/newest?q=firefox+-mozilla returns no results.

Can this be implemented? I can try if I'm pointed in the right direction.

[2020-12-18 22:41] edavis commented on #47
Hey @harabat — Thanks for the report. Yes, this definitely has room for improvement.

The key issue, I think, is the query is surrounded by double quotes before being sent to Algolia. This prevents the minus sign from being taken into account by Algolia, as I understand it.

That said, it appears this double quote behavior has been with hnrss from the beginning. So I'm hesitant to make a change wi

[2020-12-19 18:46] harabat commented on #47
Cheers @edavis :). Is it possible to adapt HNRSS's approach to dealing with the "OR" keyword? From utils.go:

[code]

[2020-12-21 11:33] ldicarlo opened #48 "Special Character problem"
![image](https://user-images.githubusercontent.com/15803534/102772861-87546380-4388-11eb-856d-53bb32f3c547.png)

I think some char specification may be missing from the RSS feed.

[code]

[2020-12-22 06:20] ldicarlo commented on #48
Hello,
it's on Feedly

[2020-12-26 19:59] carlosflorencio opened #49 "Disable Description element"
Hi,

The docs describe a way to disable the `description` tag but doesn't seem to work, example:
https://hnrss.org/best?description=0

The returned XML still contains the description tag, is this the expected behaviour?

Thanks

[2020-12-28 20:56] edavis commented on #49
Yikes... nope, that's definitely wrong.

Thanks for the report. I'll try to find some time over the next few days to roll out a fix.

[2021-01-08 18:54] dbragdon1 opened #50 "Can we get more specifics on number of calls we can make in a given timeframe?"
Sorry if the title doesn't make much sense. I have built a pipeline for automatically scraping new hackernews comments and I'm wondering how often I can call the server to check for new comments. I'm currently checking for new comments every 10 seconds, in which I make a new call using python's ```feedparser``` to check for any new comments not included in the last call. It seems like the parser o

[2021-01-08 23:29] edavis commented on #50
Howdy @dbragdon1!

All endpoints are cached for 5 minutes and that appears to be what you're running into.

For something like this you're better off using the Algolia API (https://hn.algolia.com/api) or the official API (https://github.com/HackerNews/API) directly.

hnrss uses the Algolia API under the hood, so that would probably be the easiest to move to. For /newcomments, the underlying Algoli

[2021-01-12 21:41] ghost opened #51 "Count not working for alternative feeds"
Hi!
First of all, thanks for hnrss, it is awesome! :)
I just discovered that there is the `count` parameter, but it seems like it doesn't affect the alternative feeds at all.
Here is an example:
[code]
It still gives back 30 feeds (the default value)

[2021-01-14 19:37] edavis commented on #51
Hi @bobicino — Thanks! Yeah, unfortunately, this is the case.

It's due to the fact that the alternative feeds (https://github.com/hnrss/hnrss/blob/master/main.go#L43-L49) first scrape its respective HTML on Hacker News to collect IDs, then queries Algolia with those IDs to build the feeds.

That initial ID collection is what determines how many results to return. I suppose I could rig something u

[2021-02-28 20:28] Ramblurr opened #54 "Top rated posts over time period"
I would like to cut down my daily HN reading and instead consume a list of articles once per week. Sort of like a weekly HN magazine.

cperciva has had a weekly top list for some time http://www.daemonology.net/hn-weekly-show/

It's notable because it uses a fuzzy notion.of week, such that a post that is posted right before the deadline that later goes on to receive enough votea will still be feat

[2021-04-05 19:02] frontaid opened #55 "Add feed preview"
Please consider adding a feed preview.

You could display a simple preview by adding the one line below or, of course, you could create a custom preview. But please consider adding one. You can find more context at https://github.com/frontaid/feed-ui

[code]

[2021-04-07 16:39] frontaid commented on #55
Just noticed that it does not really work in Chrome. Will have another look.

[2021-04-07 16:39] #55 closed

[2021-07-13 00:35] hopesthoughts opened #56 "Invalid search results erors from Algolia."
I'm not sure why it's happening, but whenever I try and perform a search, an error saying "Invalid JSON received from Algolia" happens.
    Here's a for instance:
https://hnrss.org/newest?q=windows
    PS, I hope I'm filing this in the right place.

[2021-07-13 20:05] edavis commented on #56
Thanks for the heads up! I think there were some general issues with Algolia (the service that powers hnrss) right around when this was posted. Everything resolved on its own by the time I was aware, though.

At this point everything looks to be back up and running so I'm going to close this. But let me know if it starts acting up again for you.

(And, yeah, this place is fine for filing issues li

[2021-07-13 20:05] #56 closed

[2021-07-16 17:00] svpn opened #57 "Add option to exclude results with links to paywalled domains"
Exclude results when link matches paywall domains in a text file where the binary runs.

_domains.txt_

[code]

Not just paywalls, there are other reasons to exclude domains.

[2021-07-19 00:07] edavis commented on #57
Just to clarify, you're saying this would be an optional feature for users who run a local instance of hnrss, right? Not the main hnrss.org service?

If so, I'm not immediately opposed to something like this... but to be honest it's going to be a low priority item for me.

I will definitely review any PR that comes my way, though.

[2021-08-07 20:42] edavis opened #58 ""?description=0" isn't excluding the description element"

[2021-09-02 22:07] aniqueta opened #59 "Frontpage stopped updating?"
Hi there - It looks like the [frontpage feed](https://hnrss.org/frontpage) does not have any new articles after September 1, 2021? Thanks.

[2021-09-03 07:28] aniqueta commented on #59
Seems resolved now.

[2021-09-03 07:28] #59 closed

[2021-09-03 09:54] jacobgreenleaf opened #60 "New comment by ... in """
Recently some items have been showing an empty title on `/bestcomments`:

[code]

It doesn't happen all the time though:

[code]

[2021-09-18 13:14] tenkabuto opened #61 "User's favorite comments?"
Is there a way to pull a user's favorite comments? If not, are there any plans to add this? Thanks!

[2021-09-23 22:45] edavis commented on #61
hnrss doesn't currently support this but, at first glance, it _should_ be doable.

No immediate plans to add this. But next time I open the hood I'll look into add it.

[2021-11-08 12:45] jay377 opened #62 "Advanced search feed"
Hello. Is it possible to create an advanced search rss feed like this for example:

https://hn.algolia.com/?dateRange=pastWeek&page=0&prefix=false&query=saas&sort=byPopularity&type=story

That has a date range or this one is all time sorted by date:

https://hn.algolia.com/?dateRange=all&page=0&prefix=false&query=saas&sort=byDate&type=story

Thanks.

[2021-11-15 18:13] edavis commented on #60
Every time I've seen this, it's a temporary thing that resolves itself on its own. I think it just takes time for Algolia to populate some of these fields.

If it was something systemic I suppose hnrss could skip items with empty story titles but I'm not sure the juice is worth the squeeze on that.

Closing for now... feel free to open a new ticket if you see this behavior lasting for more than li

[2021-11-15 18:13] #60 closed

[2021-11-15 18:14] #50 closed

[2021-11-15 18:15] #51 closed

[2021-11-15 18:17] #57 closed

[2021-11-28 00:36] edavis commented on #49
@carlosflorencio This issue has been resolved thanks to @revett

cc #63

[2021-11-28 00:36] #49 closed

[2021-11-28 22:59] #58 closed

[2021-11-28 23:35] edavis commented on #43
This has been resolved on production (thanks @revett!)

[2021-11-28 23:35] #43 closed

[2022-01-25 08:29] jakubpawlowicz opened #68 "RSS feed for Daily HN digest"
Thanks for this cool project of yours!

Is there currently an endpoint I can reach to get a RSS feed of HN daily digest, i.e. https://news.ycombinator.com/front ?
I hope it'll help me lessen my load on what happens on HN :-)

Thanks,
Jakub

[2022-01-28 22:19] edavis commented on #68
Hi Jakub,

Unfortunately, I don't think hnrss can accommodate you here.

BUT, I do have something that might work for you instead: https://www.daemonology.net/hn-daily/. And an RSS feed is available here: https://www.daemonology.net/hn-daily/index.rss

Good luck!

[2022-01-28 22:19] #68 closed

[2022-02-01 09:50] jakubpawlowicz commented on #68
Thanks @edavis, much appreciated!

[2022-02-18 10:50] LinAGKar opened #69 "Old posts showing up in feed"
Don't know if the issue is with hnrss or with Hacker News itself, but I'm subscribed to the frontpage feed, and there are a few old posts that keep popping up over and over again in the feed. This happens with:

https://news.ycombinator.com/item?id=24352278
https://news.ycombinator.com/item?id=25027279
https://news.ycombinator.com/item?id=26150497
https://news.ycombinator.com/item?id=26531943
http

[2022-02-18 21:46] edavis commented on #69
Thanks for the report. That is really strange. I can't think of a reason why these would be lobbed onto /frontpage like that.

- Are you using any filters (e.g., points=X or comments=X) or search queries on this feed?
- FWIW, /frontpage is just a wrapper around https://hn.algolia.com/api/v1/search_by_date?tags=front_page and I'm not seeing these old stories at the moment.
- /frontpage can sometime

[2022-02-18 22:13] LinAGKar commented on #69
I am not using any filters.

They only seem to show up occasionally, though the same ones each time.

I'm using Nextcloud News. It seems like it only remembers a limited number of items, so it forgets the old entries and when they reappear it shows them as unread again.

[2022-02-18 23:32] LinAGKar commented on #69
It's been like that since I added the feed, half a year or so ago.

[2022-02-22 19:07] ntns commented on #69
Hi!

I have the same issue when I query https://hnrss.org/frontpage.jsonfeed?count=50

The problem seems to be on Algolia's side as I get the same old stories if I query https://hn.algolia.com/api/v1/search_by_date?tags=front_page&hitsPerPage=50 (the last 5 stories are the stories mentioned by @LinAGKar )

Also, Algolia is not respecting the `hitsPerPage=50` filter and only returns 35 results.

[2022-02-22 20:38] edavis commented on #69
Wow, this is a great find. Many thanks. Here's what I think is happening:

It looks like Algolia is always adding and removing that `front_page` tag as stories rise onto and fall off the HN frontpage. So when everything is working as intended, there should only be 30 stories in the Algolia search index with the `front_page` tag.

So right now when Algolia answers a request for 50 stories tagged wi

[2022-02-28 09:32] Shoggomo commented on #47
Any updates on this?

[2022-06-10 10:04] rajnathani opened #70 "Second Chance Pool stories are getting missed"
Most HN stories in the second chance pool do not show up in HNRSS. (https://news.ycombinator.com/pool)

One approach is to increase the time window to about one-two weeks to check for points threshold surpass.

[2022-06-10 15:58] rajnathani commented on #70
Hello,
The category I am referring to is in the general feed, for example 40+ points one which I happen to use:
https://hnrss.org/newest?points=40

[2022-07-01 00:13] edavis commented on #70
Hi @rajnathani — Thanks for the clarification.

While I see what you're getting at here, at a technical level everything is working as expected. Second chance pool stories do appear in `/newest` and if they have enough points to clear the threshold they appear in `/newest?points=X`, too.

I would be against building special handling into `/newest` for this. Especially because you can subscribe dir

[2022-07-01 00:13] #70 closed

[2022-08-01 16:40] agg23 commented on #69
These same posts are still appearing for me. I am using the basic front page feed: https://hnrss.org/frontpage

[2022-08-10 15:36] christian-bromann opened #71 "Rate Limit very aggressive"
I would be nice if we could reduce the rate limit a little bit. Currently it is very aggressive and makes the service not much useable.

[2022-08-10 17:16] edavis commented on #71
The global rate limit is 6 requests per minute along with a specialized rate limit of 1 request per minute for two particularly aggressive crawlers.

If you're getting caught up in the specialized rate limit, apologies for the inconvenience but I had to do it to keep the service up and available for everyone.

FWIW, all hnrss outputs are cached for 5 minutes at a time so any requests more often th

[2022-08-10 17:29] christian-bromann commented on #71
Thanks for the info.

[2022-08-10 17:29] #71 closed

[2022-08-13 08:17] abtxu opened #72 "using 'count' with Search Parameter not working"
For instance,
https://hnrss.org/newest?q=WordPress?count=50
not working at all:
There are no unread articles in your Feedly.

[2022-08-13 20:34] edavis commented on #72
Hi @abtxu,

Change that second question mark to an ampersand: https://hnrss.org/newest?q=WordPress&count=50

(This is my fault. I never explicitly mention in the docs how to combine filters.)

[2022-08-13 20:34] #72 closed

[2022-08-30 15:26] alexmingoia opened #74 "Am I rate-limited or blocked?"
Hello. Thank you for this wonderful project. How do I know if I'm blocked or rate-limited? I run a news aggregator (https://sumi.news) and my users report hnrss isn't working. Upon investigation, connections from my server on 443 are being refused as of yesterday. Traffic on 80 responds fine.

Sumi.news fetches feeds at most once every 20 minutes (with a back-off algorithm increasing to hours). Co

[2022-08-30 17:22] alexmingoia commented on #74
Yes, I was. Thanks for your help Eric.

[2022-08-30 17:22] #74 closed

[2022-10-12 00:11] ysftaha opened #75 "Count param not working with user's favorite stories"
I use favorite stories introduced in https://github.com/hnrss/hnrss/commit/6aae41ee43ca965e366cd74a56d7b050bbd757a3 combining this with a count does not work.

example:
https://hnrss.org/favorites?count=99&id=Ghoyome

seems to be capped at 30

[2022-10-12 00:15] ysftaha commented on #75
might be related to #69

[2022-10-12 16:26] edavis commented on #75
Hi @ysftaha — Thanks for the report.

I explain a bit why this happens in #51.

See also: hnrss/hnrss.github.io#4

[2022-10-12 16:26] #75 closed

[2022-11-18 15:53] paulchartres opened #76 "Rate limit?"
Hi there,
I created a Jetbrain Space extension (https://plugins.jetbrains.com/plugin/20337-rsspace) that allows users to connect to RSS feeds. My application polls the feeds once every ten seconds to check for new content, but it seems like after a few requests, my network just no longer has access to the website.
Is there some kind of rate limit? If so, should I reduce the amount of polling reque

[2022-11-18 22:56] edavis commented on #76
Hi Paul,

Yes, there is a rate limit. Please reduce your polling interval. Inspect the `Expires` header for how often new content will be available.

[2022-11-18 22:56] #76 closed

[2022-11-29 01:18] joereinhard opened #77 "Frontpage Feed Isn't Updating"
I'm subscribed to the frontpage feed and I haven't gotten updates for the past day or so.

[2022-11-29 02:48] ggreenway commented on #77
+1 same for me. I get a valid RSS response from the server; it just isn't updating from some frozen point in time about a day ago. Cache-expiry is updating, but not the content.

[2022-11-29 03:24] ggreenway commented on #77
I built and ran this repo, and it returns the same stale results as hnrss.org. This makes me think there's an issue with the data coming from the HN API, or the data is not what is expected so it isn't parsed correctly.

[2022-11-29 03:34] davidstoker commented on #77
Starting looking through here a bit myself after seeing the feed stop. Looks like this depends upon Algolia for frontpage results and there's this issue reported over there: https://github.com/algolia/hn-search/issues/233

[2022-11-29 17:25] edavis commented on #77
Hey all,

Yeah, unfortunately, hnrss is entirely dependent on the HN Search API (https://hn.algolia.com/api) for generating its feeds. Until Algolia gets the crawler running again, not much can be done. The crawler has gone down before, but this looks like the longest outage in quite some time.

To assist any future debuggers: I include a `X-Algolia-URL` header with every HTTP response that points

[2022-11-29 22:44] ntns commented on #77
Seems Algolia is working on fixing the issue https://news.ycombinator.com/item?id=33790811

[2022-11-30 14:45] davidstoker commented on #77
Looks like things are working again 👍🏻

[2022-11-30 17:02] edavis commented on #77
Yep, looking much better. Closing for now. Feel free to re-open, if needed. I do want to flag one thing, though:

It looks like comments posted during the outage are not (yet?) appearing in the HN Search API results. Maybe they'll appear later, or maybe not.

If they don't appear, `/newcomments?q=TERM` will have a gap between 2022-11-28T04:59:46.000Z to whenever the crawler started working again.

[2022-11-30 17:02] #77 closed